@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

/* HEADER */

header {
    background-color: var(--dark-bg-solid);
    font-family: var(--font-raleway);
    color: var(--light-font-solid);
    padding: var(--spacing-36);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    max-width: 300px;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.nav__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}
.nav__link:hover {
    background-color: var(--primary-900);
}

.with-submenu:hover .submenu {
    display: block;
}
.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}
.submenu {
    width: 300px;
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 5;
}
.submenu__link {
    display: block; /* para poder darle estilos a los items ya que son en linea */
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}
.submenu__link:hover {
    background-color: var(--primary-900);
}

.nav__cart:hover {
    filter: brightness(0) saturate(100%) invert(36%) sepia(47%) saturate(4993%) hue-rotate(343deg) brightness(111%) contrast(104%);
}

/* HERO */
.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start; /* Se ubican en el inicio y sus hijos no toman la propiedad stretch sino el tamaño de su propio contenido */
    position: relative;
    z-index: 2;
}

.hero__title {
    font-family: var(--font-raleway);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--font-Inter);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}

/* COLLECTIONS */
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: var(--spacing-16);
}
.collection:nth-child(2) .collection__cover {
    order: -1;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--font-raleway);
    font-size: var(--font-display);
    font-weight: 500;
}

.collection__description {
    font-family: var(--font-raleway);
    font-size: var(--font-large);
    font-weight: 400;
    border-bottom: 3px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-weight: 500;
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

/* slider */
.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--font-raleway);
    font-size: var(--font-display);
    text-transform: uppercase;
    cursor: text;
}

/*.slider__items {
    display: flex;
    gap: var(--spacing-24);
}*/
.glide__arrows iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700
}
.glide__arrow--left {
    left: 0;
}
.glide__arrow--right {
    right: 0;
}

.card-item__cover {
    display: flex;
    position: relative;
}
.card-item__tag {
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-24);
    position: absolute;
    right: 0;
}
.card-item__cover img {
    animation: fade .7s;
}
.card-item__img--back {
    display: none;
}
.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__license {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

/* FOOTER */
footer {
    background-color: var(--dark-bg-solid);
    font-family: var(--font-raleway);
    color: var(--light-font-solid);
    padding: var(--spacing-128) 0 var(--spacing-16);
}

.footer__copyright {
    text-align: center;
    margin-top: var(--spacing-36);
}

/* ANIMATIONS */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}