/* ASIDE */
.main__content {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 0 0 auto;
    width: 250px;
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
}

.form {
    font-weight: 500;
}

.form__content {
    padding: var(--spacing-68) 0;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}
.form__item--title {
    font-size: var(--font-large);
    margin-bottom: 0.5rem;/*No los agarra a todos*/
}

.form__input {
    font-family: var(--font-inter);
    font-size: var(--font-medium);
    border-radius: 6px;
    padding: 0.5rem 1rem;
}
.form__input:focus::placeholder {
    opacity: 0;
}

.form__select {
    font-family: var(--font-inter);
    font-size: var(--font-medium);
    border-radius: 6px;
    padding: 0.5rem 0.7rem;
}

.form__item--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__item--row>* {
    font-size: var(--font-small);
    font-weight: 500;
}
.form__input--num {
    max-width: 20%;
    text-align: center;
}

.checkbox__content {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    padding-top: 0;
}

.checkbox__item {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-8);
}

.checkbox__input {
    appearance: none;
    border-radius: 6px;
    width: var(--spacing-24);
    height: var(--spacing-24);
    border: 2px solid var(--dark-bg-solid);
}
.checkbox__input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;

}
.checkbox__input:checked::before {
    content: "\2713";
    font-family: 'Times New Roman';
    display: inline-block;
    text-align: center;
    margin-left: 4.5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.checkbox__label {
    margin-left: 5px;
}

/* CARDS */

.shop {
    flex-shrink: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shop__items {
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);*/
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacing-68);
    gap: var(--spacing-16);
}

.shop__item {
    flex: 1 1 31%;
    padding-bottom: 2rem;
}

.card-item__cover {
    display: flex;
    position: relative;
}
.card-item__cover img {
    animation: fade 1.2s;
}
.card-item__img--back {
    display: none;
}
.card-item__cover:hover .card-item__img--back {
    display: block;
}
.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}


.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__licence {
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    font-size: var(--font-small);
}

.card-item__promo {
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    gap: var(--spacing-12);
    padding: var(--spacing-68) 0;
}

.pagination .pagination__link {
    display: flex;
    align-items: center;
    font-size: var(--font-xsmall);
    font-weight: 700;
    border-radius: 4px;
    padding: var(--spacing-12) var(--spacing-16);
    border: 2px solid var(--dark-300);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination .pagination__link:first-of-type,
.pagination .pagination__link:last-of-type {
    color: var(--dark-500);
    padding: var(--spacing-12) 10px;
}

.pagination .pagination__link:hover {
    background-color: var(--primary-solid);
    color: var(--light-bg-solid);
    border-color: var(--primary-500);
}

.pagination .pagination__link--selected {
    border-color: var(--primary-solid);
    color: var(--primary-solid);
}

.pagination iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-xsmall);
    font-weight: 700;
}