/* MAIN */
.form{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 36px;
    gap: var(--spacing-36);
    max-width: 850px;
}

.form__title {
    font-family: var(--font-raleway);
    font-size: var(--font-display);
    font-weight: 700;
}

.form__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.form__product-select {
    display: flex;
    gap: var(--spacing-36);
    align-items: center;
}
.form__select-category {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}
.form__select-license {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}

.form__label {
    font-family: var(--font-inter);
    font-size: var(--font-large);
}
.form__select {
    width: 245px;
    height: 45px;
    font-size: var(--font-medium);
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border: 2px solid var(--dark-solid);
    border-radius: 0.5rem;
}
.form__input {
    font-size: var(--font-medium);
    border: none;
    border-bottom: 2px solid var(--primary-solid);
    outline: none;
}

.form__product-name {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}
.form__input-name {
    width: 280px;
}

.form__textarea {
    width: 100%;
    max-width: 750px;
    resize: vertical;
    border: 1px solid var(--dark-solid);
    font-size: var(--font-large);
    padding: var(--spacing-12);
    border-radius: 0.5rem;
}

.form__product-info {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}
.product__sku, .product__price, .product__stock {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
    margin-right: 30px;
}

.sku__input {
    width: 130px;
}
.price__input {
    width: 110px;
}
.stock__input {
    width: 50px;
    text-align: center;
}

.form__promo {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}
.promo__discount, .promo__fee {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
    margin-right: 15px;
}
.discount__input {
    width: 55px;
    text-align: center;
}

.form__image {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}

.form__input-files {
    font-size: var(--font-xsmall);
    font-family: var(--font-inter)!important;
}

.form__buttons {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}
.form__btn {
    width: 175px;
    height: 45px;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    border: none;
    transition: opacity .3s ease-in-out;
}
.form__btn:hover {
    opacity: 50%;
}