/* MAIN */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    margin-left: 50px;
    gap: var(--spacing-36);

}

.form__title {
    font-family: var(--font-raleway);
    font-size: var(--font-display);
    font-weight: 700;
}

.form__login {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    /*margin-top: var(--spacing-28);*/
}

.login__item {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-24);
    justify-content: space-between;
}

.login__label {
    font-size: var(--font-large);
}
.login__input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--primary-solid);
    font-size: var(--font-medium);
    font-family: var(--font-inter);
    width: 285px;
    outline: none;
}
.login__input:focus::placeholder {
    opacity: 0;
}

.form__submit {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.submit__input-submit {
    font-size: var(--font-xsmall);
    width: 100px;
    height: 40px;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    border: none;
    margin-right: var(--spacing-36);
}

.submit__input-checkbox {
    width: 15px;
    height: 15px;
}

.submit__label {
    font-family: var(--base-font);
    font-size: var(--font-medium);
}

.form__link{
    font-family: var(--base-font);
    font-size: var(--font-small);
    color: var(--secondary-solid);
    margin-top:-20px;
    margin-bottom: var(--spacing-128);
}