/* HEADER */
header {
    background-color: var(--dark-bg-solid);
    font-family: var(--font-raleway);
    color: var(--light-font-solid);
    padding: var(--spacing-36);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    max-width: 300px;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.nav__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}
.nav__link:hover {
    background-color: var(--primary-900);
}

/* FOOTER */
footer {
    background-color: var(--dark-bg-solid);
    font-family: var(--font-raleway);
    color: var(--light-font-solid);
    padding: var(--spacing-128) 0 var(--spacing-16);
}

.footer__copyright {
    text-align: center;
    margin-top: var(--spacing-36);
}